.main-page-panel {
  display: none;
}


.modal-header{
   background-color: #292e38;
   color: #ffffff;
   border-color: #494d56;
}


.modal-body{
   background-color: #292e38;
   color: #ffffff;
   border-color: #494d56;
}


.modal-footer{
   background-color: #292e38;
   color: #ffffff;
   border-color: #494d56;
}


#streaming-managing-page-select {
  display: none;
}


#streaming-error-text {
  display: none;
}
