html,
body {
  height: 100%;
}


#main-panel {
  height: 100%;

  color: #caceda;
  background-color: #2a2e39;

  font-size: 14px;

  display: flex;
  flex-direction: column;
}


#main-panel div>div {
  margin: 5px 0px;
}


#control-panel {
  height: 100%;

  padding: 15px;
}


#control-panel>div {
  padding: 15px 25px;
}


#provider-guide-panel {
  text-align: center;
  font-size: 11px;
}


#provider-guide-header {
  font-size: 18px;
  margin-bottom: 20px;
}


hr {
  border-color: #343843;
  margin: 0px;
}


#streaming-sources-select {
  width: 268px;
  height: 32px;
  border-width: 0px;

  color: #66a2d6;
  background-color: #20232c;
  font-size: 12px;
}


#button-panel {
  text-align: center;
  font-size: 12px;
  color: #3e6b94;
}


#streaming-button {
  height: 50px;
  font-size: 18px;
  border-radius: 0px;
}
