html,
body {
  height: 100%;
}


.main-panel {
  height: 100%;

  color: #caceda;
  background-color: #2a2e39;

  font-size: 14px;

  display: flex;
  flex-direction: column;
}


.main-panel div>div {
  margin: 5px 0px;
}


.control-panel {
  height: 100%;

  padding: 15px;
}


.control-panel>div {
  padding: 5px 5px;
}


#provider-guide-panel {
  text-align: center;
  font-size: 11px;
}


#provider-guide-header {
  font-size: 18px;
  margin-bottom: 20px;
}


hr {
  border-color: #343843;
  margin: 0px;
}


.streaming-select {
  width: 268px;
  height: 32px;
  border-width: 0px;

  color: #66a2d6;
  background-color: #20232c;
  font-size: 12px;
}


#streaming-feed-description {
  width: 268px;
  height: 32px;
  border-width: 0px;

  color: #66a2d6;
  background-color: #20232c;
  font-size: 12px;
}


#mic-panel {
 position: relative;
 left: 16px;
}


#streaming-mic-label {
  position: relative;
  top: -1px;
  font-size: 11px;
  color: #caceda;
}


#streaming-mic-checkbox {
  width: 13px;
  height: 13px;
  position: relative;
  top: 3px;
  margin-left: 8px;
}


.button-panel {
  text-align: center;
  font-size: 12px;
  color: #3e6b94;
}


.streaming-button {
  height: 50px;
  font-size: 18px;
  border-radius: 0px;
}


#main-page-panel {
  display: none;
}
