<!DOCTYPE html>
<meta charset="utf-8">
<title>NCStreaming</title>
<link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../static/lib/ncsoft/css/ncsoft.css" rel="stylesheet">
<link href="../static/app.css" rel="stylesheet">

<div class="nc-streamer-container loading">
  <!-- titlebar -->
  <div class="header">
    <h1 class="title">%BROADCASTING%</h1>
    <div class="settings">
      <button id="connect-info-button"
              value="ConnectInfo"
              data-toggle="modal"
              data-target="#connect-info-modal"></button>
      <button id="setting-button"
              class="btn-setting"
              value="Setting"
              data-toggle="modal"
              data-target="#setting-modal"></button>
      <button id="minimize-button"
              class="btn-minimum"
              value="Minimum"></button>
      <button id="close-button"
              class="btn-close"
              value="Close"></button>
    </div>
  </div>

  <!-- login page -->
  <div class="nc-streamer-contents login-page-panel">
    <section class="connect-platform">
      <header>
        <h2>%SELECT_SERVICE%</h2>
      </header>
      <article>%LOGIN_GUIDE1%<br>
               %LOGIN_GUIDE2%<br>
               %LOGIN_GUIDE3%</article>
      <div id="login-guide-notice"
           class="message notice %LOGIN_GUIDE_NOTICE_VISIBILITY%">
        <ul>
          <li>%NCTV_NOTICE%</li>
          <li>%LOGIN_GUIDE_NOTICE1% %LOGIN_GUIDE_NOTICE2%</li>
        </ul>
      </div>
    </section>
  </div>
  <div class="nc-streamer-loader">
      <div class="icon-loader">loading</div>
  </div>
  <div class="nc-streamer-connect login-page-panel">
    <button id="login-button-youtube"
            class="btn-connect-youtube">YouTube</button>
    <button id="login-button-facebook"
            class="btn-connect-facebook">facebook</button>
    <button id="login-button-twitch"
            class="btn-connect-twitch">twitch</button>
  </div>

  <!-- main page -->
  <div class="nc-streamer-contents main-page-panel">
    <section class="nc-streamer-setting">
      <div class="profile">
        <span id="provider-user-name"
              class="name"></span>
        <a id="provider-page-link"
           href="#"
           class="btn-view-streaming">%WATCH_BROADCASTING%</a>
      </div>
      <div id="youtube-division">
        <h3 id="stream-server-head">%PRIVACY_SETTING%</h3>
        <div id="youtube-privacy-select"
             class="dropdown">
          <button class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                  value="public">
            %PUBLIC%
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-value="public"><a href="#">%PUBLIC%</a></li>
            <li data-value="unlisted"><a href="#">%UNLISTED%</a></li>
            <li data-value="private"><a href="#">%PRIVACY%</a></li>
          </ul>
        </div>
      </div>

      <div id="facebook-division">
        <div id="me-page-select"
             class="dropdown">
          <button class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
            %REGISTER_PAGE%
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-value="1"><a href="#">%REGISTER_TIMELINE%</a></li>
            <li data-value="2"><a href="#">%REGISTER_MANAGING_PAGE%</a></li>
          </ul>
        </div>

        <!-- feed to page -->
        <div id="own-page-select"
             class="dropdown">
          <button class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
            <!--page 1-->
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <!--<li><a>page 1</a></li>-->
            <!--<li><a>page 2</a></li>-->
          </ul>
          <div class="message admin">%NO_MANAGING_PAGE%</div>
        </div>

        <!-- feed to user's timeline -->
        <div id="privacy-select"
             class="dropdown">
          <button class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
            %POST_PRIVACY_BOUND%
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-value="EVERYONE"><a href="#">%PUBLIC_PRIVACY%</a></li>
            <li data-value="FRIENDS_OF_FRIENDS">
              <a href="#">%FRIENDS_OF_FRIENDS_PRIVACY%</a>
            </li>
            <li data-value="ALL_FRIENDS"><a href="#">%FRIENDS_PRIVACY%</a></li>
            <li data-value="SELF"><a href="#">%PRIVATE_PRIVACY%</a></li>
          </ul>
          <div class="message admin">%POST_PRIVACY_BOUND%</div>
        </div>
      </div>

      <div id="twitch-division">
        <h3 id="stream-server-head">%STREAM_SERVER%</h3>
        <div id="stream-server-select"
             class="dropdown">
          <button class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
            %STREAM_SERVER%
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu fix-height">
            <!--li data-value="5"><a><span class="serverdown">
              Asia : Tokyo, Japan</span></a></li-->
          </ul>
        </div>
      </div>
      <!--<div id="nctv-tooltip"
           class="nc-streamer-tooltip">
        <span class="layer-close"></span>
        <p>%NCTV_PUBLIC_TOOLTIP1%<br>%NCTV_PUBLIC_TOOLTIP2%</p>
      </div>-->
    </section>

    <!-- streaming sources -->
    <section class="nc-streamer-setting">
      <h3 id="broadcasting-game-head">%BROADCASTING_GAME%
        <span class="st">(%NO_LINEAGE%)</span></h3>
      <div id="game-select"
           class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          <!--running game 1-->
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!--<li><a>running game 1</a></li>-->
          <!--<li><a>running game 2</a></li>-->
        </ul>
        <div class="message admin">%NO_PLAYING_GAME%</div>
      </div>
      <div class="streaming-title">
        <h3 id="broadcasting-title-head">%BROADCASTING_TITLE%</h3>
        <div class="broadcast-title">
          <textarea id="feed-description"
                    rows="2"
                    maxlength="100"
                    spellcheck="false"
                    placeholder="%LETTER_LIMIT_MESSAGE%"></textarea>
        </div>
      </div>
    </section>

    <!-- quick settings -->
    <section class="nc-streamer-setting">
      <h3>%EASY_SETTING%</h3>
      <div class="form-checkbox">
        <span class="focusbox">
          <input type="checkbox"
                 id="webcam-checkbox">
          <label class="on"
                 for="webcam-checkbox">%USE_WEBCAM%</label>
        </span>
      </div>
      <div class="form-checkbox mic">
        <span class="focusbox">
          <input type="checkbox"
                 id="mic-checkbox">
          <label class="on"
                 for="mic-checkbox">%USE_MIC%</label>
        </span>
        <div class="range-slider">
          <input class="range-slider-range"
                 type="range"
                 id="mic-volume"/>
        </div>
      </div>
    </section>
  </div>

  <div class="nc-streamer-footer main-page-panel">
    <div id="error-text"
         class="msg status-error">
    </div>
    <div id="caution-text"
         class="msg status-warning">
      %USER_INFO_CAUTION_MESSAGE%
    </div>
    <div id="nctv-text"
         class="msg status-nctv">
      %NCTV_STREAMING% <a id="nctv-link" href="#">%NCTV_LINK%</a>
    </div>
    <div id="live-image"
         class="msg status-live">LIVE</div>
    <button id="control-button"
            class="btn-start">%START_BROADCASTING%</button>
  </div>

  <!-- connect info modal -->
  <div id="connect-info-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog">
    <div class="modal-dialog"
         role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">%CONNECT_INFO%</h4>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="connect-info">
            <span id="connect-info-user-name"
                  class="name"></span>
            <button type="button"
                    id="connect-info-disconnect-button"
                    class="btn">%DISCONNECT%</button>
          </div>
          <div id="connect-info-msg"
               class="msg"></div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  id="connect-info-confirm-button"
                  class="btn btn-primary"
                  data-dismiss="modal">%CONFIRM%</button>
        </div>
      </div>
    </div>
  </div>

  <!-- setting modal -->
  <div id="setting-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog">
    <div class="modal-dialog"
         role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">%SETTING%</h4>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body nc-streamer-contents">
          <section class="nc-streamer-setting">
            <h3>%QUALITY%</h3>
            <div id="quality-select"
                 class="dropdown">
              <button class="btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true">
                %QUALITY%
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!--<li data-value="1"><a>quality option 1</a></li>-->
                <!--<li data-value="2"><a>quality option 2</a></li>-->
              </ul>
            </div>
          </section>
        </div>
        <div class="form-checkbox">
          <input type="checkbox"
                 id="chroma-key-checkbox">
          <label class="on"
                 for="chroma-key-checkbox">chromakey</label>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary"
                  data-dismiss="modal">%CONFIRM%</button>
        </div>
      </div>
    </div>
  </div>

  <!-- close check modal -->
  <div id="close-check-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="confirmModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>%CLOSE_CHECK_MESSAGE1%<br/>%CLOSE_CHECK_MESSAGE2%</p>
        </div>
        <div class="modal-footer">
          <button id="modal-close-button" class="btn btn-primary">
            %YES%
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            %NO%
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- no device alert modal -->
  <div id="no-device-alert-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="confirmModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          %EASY_SETTING%
          <button class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>%NO_DEVICE_MESSAGE1%<br/><br/>%NO_DEVICE_MESSAGE2%</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"
                  data-dismiss="modal">
            %CONFIRM%
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- twitch guide modal -->
  <div id="twitch-guide-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
      aria-labelledby="twitchGuideModal">
    <div class="modal-dialog modal-dialog-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="connect-info">
            %TWITCH_SETTINGS_MESSAGE1%
            <br>%TWITCH_SETTINGS_MESSAGE2%
            <br>
            <em class="text-twitch">twitch</em>%TWITCH_SETTINGS_MESSAGE3%
            <br>%TWITCH_SETTINGS_MESSAGE4%
            <div class="%TWITCH_IMG%"></div>
          </div>
          <a id="twitch-settings-popup"
             class="btn btn-primary btn-twitch"
             href="#">%TWITCH_SETTINGS_BROWSING%</a>
        </div>
        <div class="modal-footer modal-footer-bottom">
          <button type="button"
                  id="popup-hide-button"
                  data-dismiss="modal">%NO_SHOW_ANYMORE%</button>
        </div>
      </div>
    </div>
  </div>

  <!-- youtube guide modal -->
  <div id="youtube-guide-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="youbuteGuideModal">
    <div class="modal-dialog modal-dialog-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="connect-info">
            %YOUTUBE_SETTINGS_MESSAGE1%<br><em class="text-youtube">%YOUTUBE_SETTINGS_MESSAGE2%</em>
            %YOUTUBE_SETTINGS_MESSAGE3%<br>%YOUTUBE_SETTINGS_MESSAGE4%
            <div class="%YOUTUBE_IMG%"></div>
          </div>
          <a id="youtube-settings-popup"
             class="btn btn-primary btn-youtube btn-youtube-mid"
             href="#">%YOUTUBE_SETTINGS_BROWSING%</a>
        </div>
        <div class="modal-footer modal-footer-bottom">
          <button type="button"
                  id="youtube-hide-button"
                  data-dismiss="modal">%NO_SHOW_ANYMORE%</button>
        </div>
      </div>
    </div>
  </div>

  <!-- youtube streaming agreement modal -->
  <div id="youtube-link-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="youtubeTosModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">%BROADCASTING%</h4>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="terms-title">
            %YOUTUBE_AGREEMENT_MESSAGE1%
            <br>%YOUTUBE_AGREEMENT_MESSAGE2%
          </div>
          <div class="terms-desc">
            <p class="text-ty1">
              %YOUTUBE_TERMS_TITLE1%<br>%YOUTUBE_TERMS_TITLE2%
            </p>
            <p class="text-ty2">
              %YOUTUBE_TERMS_DESC1%<br>
              <strong>%YOUTUBE_TERMS_DESC2%</strong>%YOUTUBE_TERMS_DESC3%
            </p>
            <a id="youtube-support-link-button"
               class="link-youtube"
               href="#" >
               %YOUTUBE_SUPPORT_PAGE%
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <a id="youtube-link-button"
             class="btn btn-primary btn-youtube btn-youtube-large"
             data-dismiss="modal"
             href="#">%YOUTUBE_AGREEMENT_BROWSING%</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- libraries -->
<script src="../static/lib/jquery.min.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.js"></script>
<script src="../static/lib/ncsoft/ncsoft.js"></script>

<!-- scripts -->
<script src="../static/app/cef.js"></script>
<script src="app.js"></script>
