<!DOCTYPE html>
<meta charset="utf-8">
<title>NCStreaming</title>
<link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../static/lib/ncsoft/ncsoft.css" rel="stylesheet">
<link href="../static/app.css" rel="stylesheet">

<div class="nc-streamer-container">
  <!-- titlebar -->
  <div class="header">
    <h1 class="title">%BROADCASTING%<span class="label-beta">Beta</span></h1>
    <div class="settings">
      <button id="setting-button"
              class="btn-setting"
              value="Setting"
              data-toggle="modal"
              data-target="#settingModal"></button>
      <button id="minimize-button"
              class="btn-minimum"
              value="Minimum"></button>
      <button id="close-button"
              class="btn-close"
              value="Close"></button>
    </div>
  </div>

  <!-- login page -->
  <div class="nc-streamer-contents login-page-panel">
    <section class="connect-platform">
      <header>
        <h2>%CONNECT_PLATFORM%</h2>
      </header>
      <article>%LOGIN_GUIDE1%<br>
               %LOGIN_GUIDE2%<br>
               %LOGIN_GUIDE3%</article>
      <div class="message notice">
        <strong>%LOGIN_GUIDE_NOTICE1%</strong>%LOGIN_GUIDE_NOTICE2%
      </div>
    </section>
  </div>
  <div class="nc-streamer-footer login-page-panel">
    <button id="login-button"
            class="btn-connect">%CONNECT_FACEBOOK%</button>
  </div>

  <!-- main page -->
  <div class="nc-streamer-contents main-page-panel">
    <!-- facebook user -->
    <section class="nc-streamer-setting">
      <div class="profile">
        <span id="provider-user-name"
              class="name fb"></span>
        <a id="provider-user-disconnect"
           href="#"
           class="btn-view-streaming">%DISCONNECT%</a>
        <a id="provider-page-link"
           href="#"
           class="btn-view-streaming">%WATCH_BROADCASTING%</a>
      </div>
      <div id="me-page-select"
           class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          %REGISTER_PAGE%
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li data-value="1"><a>%REGISTER_TIMELINE%</a></li>
          <li data-value="2"><a>%REGISTER_MANAGING_PAGE%</a></li>
        </ul>
      </div>

      <!-- feed to page -->
      <div id="own-page-select"
           class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          <!--page 1-->
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!--<li><a>page 1</a></li>-->
          <!--<li><a>page 2</a></li>-->
        </ul>
        <div class="message admin">%NO_MANAGING_PAGE%</div>
      </div>

      <!-- feed to user's timeline -->
      <div id="privacy-select"
           class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          %POST_PRIVACY_BOUND%
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li data-value="EVERYONE"><a>%PUBLIC_PRIVACY%</a></li>
          <li data-value="FRIENDS_OF_FRIENDS">
            <a>%FRIENDS_OF_FRIENDS_PRIVACY%</a>
          </li>
          <li data-value="ALL_FRIENDS"><a>%FRIENDS_PRIVACY%</a></li>
          <li data-value="SELF"><a>%PRIVATE_PRIVACY%</a></li>
        </ul>
        <div class="message admin">%POST_PRIVACY_BOUND%</div>
      </div>

      <!--<div id="nctv-tooltip"
           class="nc-streamer-tooltip">
        <span class="layer-close"></span>
        <p>%NCTV_PUBLIC_TOOLTIP1%<br>%NCTV_PUBLIC_TOOLTIP2%</p>
      </div>-->
    </section>

    <!-- streaming sources -->
    <section class="nc-streamer-setting">
      <h3>%BROADCASTING_GAME%</h3>
      <div id="game-select"
           class="dropdown">
        <button class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          <!--running game 1-->
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!--<li><a>running game 1</a></li>-->
          <!--<li><a>running game 2</a></li>-->
        </ul>
        <div class="message admin">%NO_PLAYING_GAME%</div>
      </div>
      <div class="streaming-title">
        <h3>%BROADCASTING_TITLE%</h3>
        <div class="broadcast-title">
          <textarea id="feed-description"
                    rows="2"
                    maxlength="100"
                    placeholder="%LETTER_LIMIT_MESSAGE%"></textarea>
        </div>
      </div>
    </section>

    <!-- quick settings -->
    <section class="nc-streamer-setting">
      <h3>%EASY_SETTING%</h3>
      <div class="form-checkbox mic">
        <input type="checkbox"
               id="mic-checkbox">
        <label class="on"
               for="mic-checkbox">%USE_MIC%</label>
      </div>
    </section>
  </div>

  <div class="nc-streamer-footer main-page-panel">
    <div id="error-text"
         class="msg status-error">
    </div>
    <div id="caution-text"
         class="msg status-ready">%USER_INFO_CAUTION_MESSAGE%</div>
    <div id="live-image"
         class="msg status-live">LIVE</div>
    <button id="control-button"
            class="btn-start">%START_BROADCASTING%</button>
  </div>

  <!-- setting page -->
  <div id="settingModal"
       class="modal fade"
       tabindex="-1"
       role="dialog">
    <div class="modal-dialog"
         role="document">
      <div class="modal-content">
        <div class="modal-header header">
          <div class="settings">
            <button type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                    value="Close"></button>
          </div>
          <h4 class="modal-title">%SETTING%</h4>
        </div>
        <div class="modal-body nc-streamer-contents">
          <section class="nc-streamer-setting">
            <h3>%QUALITY%</h3>
            <div id="quality-select"
                 class="dropdown">
              <button class="btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true">
                %QUALITY%
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <!--<li data-value="1"><a>quality option 1</a></li>-->
                <!--<li data-value="1"><a>quality option 2</a></li>-->
              </ul>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button"
                  id="settings-confirm-button"
                  class="btn btn-primary"
                  data-dismiss="modal">%CONFIRM%</button>
        </div>
      </div>
    </div>
  </div>

  <!-- close check modal -->
  <div id="close-check-modal"
       class="modal nc-streamer-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="confirmModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>%CLOSE_CHECK_MESSAGE1%<br/>%CLOSE_CHECK_MESSAGE2%</p>
        </div>
        <div class="modal-footer">
          <button id="modal-close-button" class="btn btn-primary">
            %YES%
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            %NO%
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- libraries -->
<script src="../static/lib/jquery.min.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.js"></script>
<script src="../static/lib/ncsoft/ncsoft.js"></script>

<!-- scripts -->
<script src="../static/app/cef.js"></script>
<script src="app.js"></script>
